main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

a,
a:hover {
  outline: none;
  color: inherit;
}

a:focus {
  color: inherit;
  text-decoration: underline;
}

.card a:focus {
  outline: 2px solid;
}

.rating span {
  margin: 0.1rem;
}

.navbar-dark .navbar-toggler {
  border-radius: 2px;
  background-color: var(--yellow);
}

#cartLogo {
  max-width: 35px;
  margin-right: 0.5rem;
  padding-bottom: 0.6rem;
}

@media (max-width: 768px) {
  #delete {
    margin-top: 0.75rem;
  }
}
